{% extends "base.html" %}

{% block navbar %}
<!--- <li class="nav-item">
  <a class="nav-link" href="/">Accueil</a>
</li> --->
<li class="nav-item">
  <a class="nav-link" href="/planning/">Planning</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/">Inscription</a>
</li>
{% endblock %}

{% block content %}
<br>
<p>Votre inscription a bien été enregistrée.</p>
<p>Vous êtes attendu(e)s le {{ apps[0].place__name }} pour passer la certification Pix.</p>
<p>Vous devriez recevoir un email de confirmation à l'adresse {{ email }}. Si ce n'est pas le cas, écrivez à l'adresse pix@abriand.info pour vous assurer que vous êtes bien inscrit.</p>
{% endblock %}